td{
    height: 100px;
    width: 100px;
    border: 5px solid orange;
    color: orange;
}

table{
    margin: auto;
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    border: 0.5px solid orange;
}
h1{
    text-align: center;
}
body{
    background-image: url(back.jpg);
}
h1{
    background-color: wheat;
    color: red;
    padding: 5px;
}